body {
    background-color: #515B5E;
}

.header {
    background-color: #999999;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: -10px;
    z-index: ;
}

.header li{
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #F0F0F0;
    display: inline;
}

.header li img {
    width:70px;
    height:70px;
    border-radius: 5px;
}

.header li a {
    text-decoration: none;
    color: #B8B8B8;
}

.header li a:hover {
    color: #33D6FF;
}

.content {
    background-color: #606060;
    position: absolute;
    z-index: 0;
}

.footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
}

#pageNotes {
    text-align: center;
    vertical-align: middle;
    color: #FFFEFC;
}