body {
    background-color: #515B5E;
}

iframe {
   height: 700px;
   width: 700px;
}

/*.header {
    background-color: #303030;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: -10px;
    z-index: 100;
    display: block;
    text-align: center;
    box-shadow: 0px 8px 12px #111111;
    position: relative;
}

.header li{
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #F0F0F0;
    display: inline;

}

.header li img {
    width:70px;
    height:70px;
    border-radius: 5px;
}

.header li a {
    text-decoration: none;
    color: #B8B8B8;
}

.header li a:hover {
    color: #33D6FF;
}
*/
/*.content {
    background-color: #606060;
    position: absolute;
    z-index: 1;
}

.footer {

    margin-top : 40px;
    background-color: #111111;
    color: #ffffff;

}

#pageNotes {
    color: #FFFEFC;
}

#resume {
   width: 50%; 
   margin: 0 auto;
   z-index: 10;
    
}
*/

.indexContent {

    background-image: url("../Content/me.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;    
    height: 1080px;
}

.indexContent h1 {
    padding-top: 1.5%;
    color: black;
    font-size: 5vw;
    font-family: 'Comfortaa', cursive;

}

.indexContent h2 {
    color: black;
    font-size: 2.8vw;
    font-family: 'Comfortaa', cursive;
}

.topper {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.topper h1 {
    font-size: 5vw;
    font-family: 'Comfortaa', cursive;
}

.row1 {
    background-color: white;
}

.row2 {
    background-color: gray;
}

.row3 {
    background-color: silver;
}

.myProjects {
    text-align: center;
}

.myResume {

    text-align: center;

}

/*#projectList a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Francois One', sans-serif;

}

#projectList a:hover {
    color: #33D6FF;
}

.aProject {
    padding-bottom: 20px;
}
*/

/*Bootstrap adjustments*/
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar{
    box-shadow: 0px 5px 15px #111111;
}

.navbar-nav li a:hover {
    color: #33D6FF !important;
    font-weight: bold;
}

.container-fluid {
    padding-top: 50px;
}

/*End of Bootstrap adjustments*/